<h1>account List</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% accounts.each do |account| %>
    <tr>
      <td><%= account.username %></td>
      <td><%= account.email %></td>
      <td>
        <a class="btn" href="accounts/<%= CGI.escape(account.href.to_s) %>/edit">Edit</a>
      </td>
      <td>
        <form action="/accounts/<%= CGI.escape(account.href.to_s) %>" method='POST'
          onsubmit="javascript:return confirm('Are you sure you want to delete this account?');">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
