<h1>Password Reset</h1>

<form action="/password_reset" method="post">

  <label for="username_or_email">username or email:</label>
  <input type="text" name="username_or_email" id="username_or_email">

  <input type="submit" value="Reset password">

</form>
