<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td>
        <a href="users/<%= CGI.escape(user.href.to_s) %>/edit">Edit</a>
      </td>
      <td>
        <form action="/users/<%= CGI.escape(user.href.to_s) %>" method='POST'
          onsubmit="javascript:return confirm('Are you sure you want to delete this user?');">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
