---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts
    body:
      encoding: US-ASCII
      string: ! '{"email":"test3f27076db7694fb10df34a4aafb08516@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"test23e6fe40aec5e50aff7cd92bbd193599"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213806Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/36ed27e1-f7d3-4eee-a145-f158243d79a8/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=1ba0db150b48de1bad0bf095c30e17f532295dc7a95e8351c35aaf5f1eefd29e
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ","username":"test23e6fe40aec5e50aff7cd92bbd193599","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:07 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/loginAttempts
    body:
      encoding: US-ASCII
      string: ! '{"type":"basic","value":"dGVzdDNmMjcwNzZkYjc2OTRmYjEwZGYzNGE0YWFmYjA4NTE2QGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213807Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/dd27dddc-1c68-43c3-9c44-d9457409ef58/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=7f8d5ada7b9eb4183111210236e54a6258949e1e8d27a0402ec215013e8c94e2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"account":{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ"}}'
  recorded_at: Thu, 06 Jun 2013 21:38:09 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213809Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/f52d4225-7680-4207-bf44-0216f73dea6c/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=efdeef3c74ed6d878e6f041a9d1b3b697ff717f1903fcea7e356fc09bec17bbf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ","username":"test23e6fe40aec5e50aff7cd92bbd193599","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:09 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/2agcPieRvS72hecO48KivJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213809Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/6df60a19-056d-423b-b212-360734e57d59/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=9c03e72f09caca99894cc6e3f78829c8bc10e62d07811ffc47e0757260ff7c84
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 06 Jun 2013 21:38:09 GMT
recorded_with: VCR 2.5.0
