---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts
    body:
      encoding: US-ASCII
      string: ! '{"email":"test3f27076db7694fb10df34a4aafb08516@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"test772d1f447278a12c345e26890a72146c"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213809Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/5a5a7c86-a774-477f-a750-09d490cefe07/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=83f756a91774d5715f73e24040ed36bd6ba62de09b12fbbdeded5340e55616cf
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7","username":"test772d1f447278a12c345e26890a72146c","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:10 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/loginAttempts
    body:
      encoding: US-ASCII
      string: ! '{"type":"basic","value":"dGVzdDNmMjcwNzZkYjc2OTRmYjEwZGYzNGE0YWFmYjA4NTE2QGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213810Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/c01cb07c-20fe-4ebb-a7ba-037fdaf74331/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=0129e132ba28803fc54ff582ae2bf461d5a1abe53ca3c64673db1a5aac0460ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"account":{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7"}}'
  recorded_at: Thu, 06 Jun 2013 21:38:11 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213811Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/3e27334a-4869-4eb0-8f68-7a924a045889/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=a217b88518095ff115892b5ec2d7b92d9ba8e4fcb5b0eb451913831a8e75ed72
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7","username":"test772d1f447278a12c345e26890a72146c","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:11 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/2dctsZH7iLc8QaVIHXPGV7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213811Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/9c26589e-f625-4885-aed8-c84273dadc98/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=c32ecf9e985e4ab13f5662755476f514fe2225308b0a81043a22c895df141376
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 06 Jun 2013 21:38:12 GMT
recorded_with: VCR 2.5.0
