---
http_interactions:
- request:
    method: get
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213755Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/fbf3380d-ec5b-4612-aecc-f8f6e1fd6984/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=22919e367d3d501311ff5611a564972695014aec25429ddb03debd0d27eeb087
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt","name":"Demo","description":"","status":"ENABLED","tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"accounts":{"href":"https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts"},"groups":{"href":"https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/groups"},"passwordResetTokens":{"href":"https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/passwordResetTokens"}}'
  recorded_at: Thu, 06 Jun 2013 21:37:56 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts
    body:
      encoding: US-ASCII
      string: ! '{"email":"test3f27076db7694fb10df34a4aafb08516@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"testdd1367a4c8de1b13bd3c77bd9a4118e6"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213756Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/e1afc30a-39df-4da4-a91e-73327cf24552/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=05b70660df4ca1d23685eb388d574d8a7c6d7c27af02e698a7e6e992086a4a81
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN","username":"testdd1367a4c8de1b13bd3c77bd9a4118e6","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:37:57 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/loginAttempts
    body:
      encoding: US-ASCII
      string: ! '{"type":"basic","value":"dGVzdDNmMjcwNzZkYjc2OTRmYjEwZGYzNGE0YWFmYjA4NTE2QGV4YW1wbGUuY29tOlN1Y2Mzc3Mh"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213757Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/ce6d1a1f-a5ce-4eb2-8948-d781e3cc0392/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=312b577b0d37d604c4a1b501693adddf83720d7bb2e0410342dacccc24d30817
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"account":{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN"}}'
  recorded_at: Thu, 06 Jun 2013 21:37:58 GMT
- request:
    method: get
    uri: https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213758Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/50a11abb-d722-4a7a-94f6-8e4d1d925b1c/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=8b7e75e7022b89b71f25c21f8b58bdd2c859f31a7353e1a97026bc150b02f298
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN","username":"testdd1367a4c8de1b13bd3c77bd9a4118e6","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:37:59 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/2PKO1Hr7w2IOIbYxQrzMJN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213759Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/57677178-df77-4c95-b3fb-e50a1476f7fd/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=6cc95ffb2d58608d06b9ec32720642a646cd6726da32b35a4abef4ce0626a2e3
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 06 Jun 2013 21:37:59 GMT
recorded_with: VCR 2.5.0
