---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts
    body:
      encoding: US-ASCII
      string: ! '{"email":"test3f27076db7694fb10df34a4aafb08516@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"test6b2832980c5e52db243c08e2068c90fd"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213804Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/8fa3ccbc-e058-424a-9f83-3b8380215d4b/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=1ed8f6a2bbaa51eacb6719546d5237dee19af41cbf3de75147f45c7ac4d8d68a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/2Y3EbGVOuOHfWQy4E85FCr
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2Y3EbGVOuOHfWQy4E85FCr","username":"test6b2832980c5e52db243c08e2068c90fd","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2Y3EbGVOuOHfWQy4E85FCr/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2Y3EbGVOuOHfWQy4E85FCr/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:05 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/loginAttempts
    body:
      encoding: US-ASCII
      string: ! '{"type":"basic","value":"dGVzdDNmMjcwNzZkYjc2OTRmYjEwZGYzNGE0YWFmYjA4NTE2QGV4YW1wbGUuY29tOndyb25ncGFzc3dvcmQ="}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213805Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/f83a3b20-bdc2-4109-8249-3a95e965045d/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=5fbde202aa1d330fa9590d5983115054aa5fafe82eef0c58ea888bcec40bf384
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"code":400,"message":"Invalid username or password.","developerMessage":"Invalid
        username or password.","moreInfo":"mailto:support@stormpath.com"}'
  recorded_at: Thu, 06 Jun 2013 21:38:06 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/2Y3EbGVOuOHfWQy4E85FCr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213806Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/c94dd590-6960-4f42-a782-86dd5409d4d8/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=7eb6cf502ddd053b2fc20656b0e0bcc4175289b0fb9fca4dd84ee4f535dc74e4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 06 Jun 2013 21:38:06 GMT
recorded_with: VCR 2.5.0
