---
http_interactions:
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/accounts
    body:
      encoding: US-ASCII
      string: ! '{"email":"test3f27076db7694fb10df34a4aafb08516@example.com","password":"Succ3ss!","givenName":"Given","surname":"Surname","username":"test82c9b078a430f75efc510c481af07b38"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213802Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/2cbad1e3-5b36-4316-86e1-8fbd26e1f70c/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=db727e2a2a3067fb7a08a22c36a3495ee28850da6f94faf72409cc6a1c30bde3
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.stormpath.com/v1/accounts/2VLwfpw66K4ZfviBe6p3Dt
    body:
      encoding: US-ASCII
      string: ! '{"href":"https://api.stormpath.com/v1/accounts/2VLwfpw66K4ZfviBe6p3Dt","username":"test82c9b078a430f75efc510c481af07b38","email":"test3f27076db7694fb10df34a4aafb08516@example.com","fullName":"Given
        Surname","givenName":"Given","middleName":null,"surname":"Surname","status":"ENABLED","groups":{"href":"https://api.stormpath.com/v1/accounts/2VLwfpw66K4ZfviBe6p3Dt/groups"},"groupMemberships":{"href":"https://api.stormpath.com/v1/accounts/2VLwfpw66K4ZfviBe6p3Dt/groupMemberships"},"directory":{"href":"https://api.stormpath.com/v1/directories/5KG6SGXuBdaSnRq965tQn"},"tenant":{"href":"https://api.stormpath.com/v1/tenants/3IQnsnGfq0HCAuXJmWuIsH"},"emailVerificationToken":null}'
  recorded_at: Thu, 06 Jun 2013 21:38:03 GMT
- request:
    method: post
    uri: https://api.stormpath.com/v1/applications/5JuUBnd8dHXaBLAIH4ipt/loginAttempts
    body:
      encoding: US-ASCII
      string: ! '{"type":"basic","value":"dGVzdDNmMjcwNzZkYjc2OTRmYjEwZGYzNGE0YWFmYjA4NTE2QGV4YW1wbGUuY29tOndyb25ncGFzc3dvcmQ="}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20130606T213803Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/7e5ec927-5b83-4a6a-93a8-2bb538830d7b/sauthc1_request,
        sauthc1SignedHeaders=accept;content-length;content-type;host;user-agent;x-stormpath-date,
        sauthc1Signature=ac6553499854a181705df45d967a87fc92b7d001c63f94b8d5cf7d320cdef65a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"code":400,"message":"Invalid username or password.","developerMessage":"Invalid
        username or password.","moreInfo":"mailto:support@stormpath.com"}'
  recorded_at: Thu, 06 Jun 2013 21:38:04 GMT
- request:
    method: delete
    uri: https://api.stormpath.com/v1/accounts/2VLwfpw66K4ZfviBe6p3Dt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stormpath-Date:
      - 20130606T213804Z
      Authorization:
      - SAuthc1 sauthc1Id=10S5KDVYLAIZ6EM26XVY4WGJ6/20130606/b5b9fc81-509a-4327-ac78-4518ebda6258/sauthc1_request,
        sauthc1SignedHeaders=accept;host;user-agent;x-stormpath-date, sauthc1Signature=36b8e046d2d0f855be456db34d550ef392c8d474df76ed64f8c58588af8e3ff9
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 06 Jun 2013 21:38:04 GMT
recorded_with: VCR 2.5.0
